
.content-placeholder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 100px 80px;
    gap: 60px;
}

.info-box {
    max-width: 500px;
    background: #f5f5f5;
    padding: 30px;
    border-radius: 8px;
    margin: 0;
}

.carport-sidebar {
    width: 500px;

    background: #d9e1df;
    padding: 30px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* FORM */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

select, textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #cfcfcf;
}

/* Button to send inquiry */
.sidebar-btn {
    padding: 16px;
    background: #003b7a;
    color: white;
    border: none;
    cursor: pointer;
}

/* Button to save carport for later */
.sidebar-save-btn {
    padding: 16px;
    background: #003b7a;
    color: white;
    border: none;
    cursor: pointer;
}
