* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 20px;

    background-color: white;
    border-bottom: 1px solid #ddd;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

p {
    text-align: center;
}
