<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fog - Mine Forespørgsler</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/myInquiries.css}">
</head>


<body>
<div th:replace="~{templates/header.html :: header}"></div>

<h1>Alle Forespørgsler</h1>

<!-- Hvis listen er tom -->
<div th:if="${#lists.isEmpty(session.inquiryList)}" class="empty-message">
    Ingen forespørgsler fundet.
</div>

<!-- Grid med carporte -->
<div class="inquiry-grid" th:if="${not #lists.isEmpty(session.inquiryList)}">

    <div class="inquiry-card"
         th:each="inquiry : ${session.inquiryList}">

        <div class="inquiry-title"
             th:text="${inquiry.inquiryId}">
            Foresprøgsel navn
        </div>

        <div class="inquiry-info">
            <strong>Status:</strong>
            <span th:text="${inquiry.status}">null</span>
        </div>

        <div class="inquiry-info">
            <strong>Udkast dato:</strong>
            <span th:text="${inquiry.date}">xx-xx-xxxx</span>
        </div>

        <form th:action="@{/admin/deleteInquiry}" method="post">
            <input type="hidden"
                   name="selectedInquiryId"
                   th:value="${inquiry.inquiryId}" />

            <button type="submit" class="delete-btn">
                Slet inquiry
            </button>

        </form>

        <form th:action="@{/admin/seeCustomerEmail}" method="post">
            <input type="hidden"
                   name="selectedInquiryId"
                   th:value="${inquiry.inquiryId}" />

            <button type="submit" class="email-btn">
                Vis email
            </button>
        </form>

    </div>

</div>

<div id="emailModal" class="modal" th:if="${session.customerEmail != null}">
    <div class="modal-content">
        <h2>Brugerens email</h2>

        <p th:text="${session.customerEmail}"></p>

        <button onclick="closeModal()" class="modal-close-btn">
            Luk
        </button>
    </div>
</div>

<script th:if="${session.customerEmail != null}">
    function closeModal() {
        document.getElementById("emailModal").style.display = "none";
    }

    window.onload = function () {
        document.getElementById("emailModal").style.display = "flex";
    };
</script>

</body>

<footer>
    <div th:replace="~{templates/footer.html :: footer}"></div>
</footer>

</html>