<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fog - Mine Forespørgsler</title>

    <script th:src="@{/js/invoicePopup.js}" defer></script>
    <script th:src="@{/js/partsListPopup.js}" defer></script>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/myInquiries.css}">
</head>

<div th:replace="~{templates/header.html :: header}"></div>

<body>
<h1>Mine Forespørgsler</h1>

<div th:if="${#lists.isEmpty(session.inquiryList)}" class="empty-message">
    Ingen forespørgsler fundet.
</div>

<!-- Grid med forspørgelser -->
<div class="inquiry-grid" th:if="${not #lists.isEmpty(session.inquiryList)}">

    <div class="inquiry-card"
         th:each="inquiry : ${session.inquiryList}">

        <div class="inquiry-title"
             th:text="${inquiry.inquiryId}">
            Foresprøgsel navn
        </div>

        <div class="inquiry-info">
            <strong>Status:</strong>
            <span th:text="${inquiry.status}">null</span>
        </div>

        <div class="inquiry-info">
            <strong>Udkast dato:</strong>
            <span th:text="${inquiry.date}">xx-xx-xxxx</span>
        </div>

        <div th:if="${inquiry.status == 'Godkendt' || inquiry.status == 'Betalt'}" class="inquiry-info">
            <strong>Pris:</strong>
            <span th:text="${inquiry.price} + ' kr.'"></span>
        </div>

        <div class="delete-payment-btn-group">
        <form   th:if="${inquiry.status == 'Godkendt'}"
                th:action="@{/user/deleteInquiry}"
                method="post">
            <input type="hidden"
                   name="selectedInquiryId"
                   th:value="${inquiry.inquiryId}" />

            <button type="submit" class="delete-btn">
                Slet
            </button>
        </form>

        <form   th:if="${inquiry.status == 'Godkendt'}"
                th:action="@{/user/completeInquiryPayment}"
                method="post">
            <input type="hidden"
                   name="selectedInquiryId"
                   th:value="${inquiry.inquiryId}" />
            <input type="hidden"
                   name="status"
                   th:value="Betalt" />

            <button type="submit" class="payment-btn">
                Betal
            </button>
        </form>
        </div>
        <div class="invoice-partList-btn-group">
        <form th:if="${inquiry.status == 'Betalt'}"
              th:action="@{/user/createInvoice}"
              method="post"
              class="invoice-form">

            <input type="hidden"
                   name="selectedInquiryId"
                   th:value="${inquiry.inquiryId}"/>
            <button type="submit" class="invoice-btn">
                Faktura
            </button>
        </form>

        <form th:if="${inquiry.status == 'Betalt'}"
              th:action="@{/user/generatePartsList}"
              method="post"
              class="partsList-form">

            <input type="hidden"
                   name="selectedCarportId"
                   th:value="${inquiry.carportId}"/>
            <button type="submit" class="partsList-btn">
                    Stykliste
            </button>
        </form>
        </div>

    </div>

</div>

</body>

<footer>
    <div th:replace="~{templates/footer.html :: footer}"></div>
</footer>

</html>