<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fog - Carport</title>

    <link rel="stylesheet" th:href="@{/css/carport.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<div th:replace="~{templates/header.html :: header}"></div>


<main class="content-placeholder">

    <div class="info-box">
        <div class="left-column">

            <div class="info-box">
                <h1>Bestil Quick-Byg tilbud - carport med fladt tag</h1>

                <p>
                    Med et specialudviklet computerprogram kan vi lynhurtigt
                    beregne prisen og udskrive en skitsetegning på en
                    carport indenfor vores standardprogram. 
                    Tilbud og skitsetegning fremsendes på mail hurtigst
                    muligt. 
                    Ved bestilling medfølger standardbyggevejledning.

                    Udfyld formularen omhyggeligt og klik på "Bestil tilbud". 
                    Felter markeret med * SKAL udfyldes!
                </p>
            </div>

            <div class="svg-carport">
                <h2>Få overblik!</h2>
                <p> - Vælg carportens specifikationer og det illustreres her. Du kan også trække den gule bil rundt med musen.</p>

                <svg width="400" height="500">
                    <rect
                            id="frame"
                            x="20"
                            y="20"
                            width="0"
                            height="0"
                            fill="none"
                            stroke="black"
                            stroke-width="2"
                    />
                    <rect
                            id="innerFrame"
                            x="20"
                            y="20"
                            width="0"
                            height="0"
                            fill="none"
                            stroke="red"
                            stroke-width="2"
                    />
                    <image
                            id="car"
                            href="/images/car_topview.svg"
                            x="20"
                            y="20"
                            width="450"
                            height="180"
                    />
                    <text id="widthLabel" x="20" y="15" font-size="14" fill="black"></text>
                    <text id="heightLabel" x="5" y="40" font-size="14" fill="black"></text>
                </svg>

            </div>

        </div>

    </div>

    <form th:action="@{/user/carport/saved}" method="post">

        <div class="carport-sidebar">

            <h2>Carport med fladt tag</h2>

            <div class="form-group">
                <label>Antal biler</label>
                <select id="amountOfCars" name="amountOfCars">
                    <option value="">Vælg antal biler</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>

            <div class="form-group">
                <label>Carport bredde</label>
                <select id="width" name="width">
                    <option value="">Vælg bredde</option>
                    <option value="240">240 cm</option>
                    <option value="270">270 cm</option>
                    <option value="300">300 cm</option>
                    <option value="330">330 cm</option>
                    <option value="360">360 cm</option>
                    <option value="390">390 cm</option>
                    <option value="420">420 cm</option>
                    <option value="450">450 cm</option>
                    <option value="480">480 cm</option>
                    <option value="510">510 cm</option>
                    <option value="540">540 cm</option>
                    <option value="570">570 cm</option>
                    <option value="600">600 cm</option>
                </select>
            </div>

            <div class="form-group">
                <label>Carport længde</label>
                <select id="length" name="length">
                    <option value="">Vælg længde</option>
                    <option value="240">240 cm</option>
                    <option value="270">270 cm</option>
                    <option value="300">300 cm</option>
                    <option value="330">330 cm</option>
                    <option value="360">360 cm</option>
                    <option value="390">390 cm</option>
                    <option value="420">420 cm</option>
                    <option value="450">450 cm</option>
                    <option value="480">480 cm</option>
                    <option value="510">510 cm</option>
                    <option value="540">540 cm</option>
                    <option value="570">570 cm</option>
                    <option value="600">600 cm</option>
                    <option value="630">630 cm</option>
                    <option value="660">660 cm</option>
                    <option value="690">690 cm</option>
                    <option value="720">720 cm</option>
                    <option value="750">750 cm</option>
                    <option value="780">780 cm</option>
                </select>
            </div>

            <div class="form-group">
                <label>Redskabsskur</label>
                <select id="hasShed" name="hasShed">
                    <option value="">Vælg om du vil have skur</option>
                    <option value="true">Ja</option>
                    <option value="false">Nej</option>
                </select>
            </div>

            <div id="shedOptions">
            <div class="form-group">
                <label>Redskabsskur bredde</label>
                <select id="shedWidth" name="shedWidth">
                    <option value="0">Vælg bredde</option>
                    <option value="210">210 cm</option>
                    <option value="240">240 cm</option>
                    <option value="270">270 cm</option>
                    <option value="300">300 cm</option>
                    <option value="330">330 cm</option>
                    <option value="360">360 cm</option>
                    <option value="390">390 cm</option>
                    <option value="420">420 cm</option>
                    <option value="450">450 cm</option>
                    <option value="480">480 cm</option>
                    <option value="510">510 cm</option>
                    <option value="540">540 cm</option>
                    <option value="570">570 cm</option>
                    <option value="600">600 cm</option>
                    <option value="630">630 cm</option>
                    <option value="660">660 cm</option>
                    <option value="690">690 cm</option>
                    <option value="720">720 cm</option>
                </select>
            </div>

            <div class="form-group">
                <label>Redskabsskur længde</label>
                <select id="shedLength" name="shedLength">
                    <option value="0">Vælg længde</option>
                    <option value="150">150 cm</option>
                    <option value="180">180 cm</option>
                    <option value="210">210 cm</option>
                    <option value="240">240 cm</option>
                    <option value="270">270 cm</option>
                    <option value="300">300 cm</option>
                    <option value="330">330 cm</option>
                    <option value="360">360 cm</option>
                    <option value="390">390 cm</option>
                    <option value="420">420 cm</option>
                    <option value="450">450 cm</option>
                    <option value="480">480 cm</option>
                    <option value="510">510 cm</option>
                    <option value="540">540 cm</option>
                    <option value="570">570 cm</option>
                    <option value="600">600 cm</option>
                    <option value="630">630 cm</option>
                    <option value="660">660 cm</option>
                    <option value="690">690 cm</option>
                </select>
            </div>

                </div>

            <div class="form-group">
                <label>Tagrende</label>
                <select id="hasGutter" name="hasGutter">
                    <option value="">Vælg om du vil have tagrende</option>
                    <option value="true">Ja</option>
                    <option value="false">Nej</option>
                </select>
            </div>

            <div class="form-group">
                <label>Bemærkninger</label>
                <textarea name="notes" placeholder="Skriv eventuelle bemærkninger..."></textarea>
            </div>

            <button class="sidebar-btn"
                    type="submit"
                    formaction="/user/inquiry">
                Send forespørgsel
            </button>

            <button class="sidebar-save-btn"
                    type="submit"
                    formaction="/user/saved">
                Gem carport
            </button>

        </div>

    </form>

</main>


<script>
    const frame = document.getElementById("frame");

    const amountOfCars = document.getElementById("amountOfCars");

    const widthSelect = document.getElementById("width");
    const lengthSelect = document.getElementById("length");

    const shedWidthSelect = document.getElementById("shedWidth");
    const shedLengthSelect = document.getElementById("shedLength");

    const oneCarWidths = [240, 270, 300, 330, 360, 390, 420, 450, 480, 510, 540, 570, 600];
    const oneCarLengths = [240, 270, 300, 330, 360, 390, 420, 450, 480, 510, 540, 570, 600, 630, 660, 690, 720, 750, 780];

    const twoCarWidths = [450, 480, 510, 540, 570, 600];
    const twoCarLengths = [240, 270, 300, 330, 360, 390, 420, 450, 480, 510, 540, 570, 600, 630, 660, 690, 720, 750, 780]

    const widthLabel = document.getElementById("widthLabel");
    const heightLabel = document.getElementById("heightLabel");

    function populateSelect(selectElement, values, placeholder) {

        selectElement.innerHTML = "";

        const defaultOption = document.createElement("option");
        defaultOption.value = "";
        defaultOption.textContent = placeholder;
        selectElement.appendChild(defaultOption);

        values.forEach(value => {
            const option = document.createElement("option");
            option.value = value;
            option.textContent = value + " cm";
            selectElement.appendChild(option);
        });
    }

    function updateOptions() {

        const cars = amountOfCars.value;

        if (cars === "1") {

            populateSelect(widthSelect, oneCarWidths, "Vælg bredde");
            populateSelect(lengthSelect, oneCarLengths, "Vælg længde");

            populateSelect(shedWidthSelect, oneCarWidths, "Vælg skur bredde");
            populateSelect(shedLengthSelect, oneCarLengths, "Vælg skur længde");

        } else if (cars === "2") {

            populateSelect(widthSelect, twoCarWidths, "Vælg bredde");
            populateSelect(lengthSelect, twoCarLengths, "Vælg længde");

            populateSelect(shedWidthSelect, twoCarWidths, "Vælg skur bredde");
            populateSelect(shedLengthSelect, twoCarLengths, "Vælg skur længde");
        }
    }

    function updateCarport() {

        const selectedWidth = widthSelect.value;
        const selectedLength = lengthSelect.value;

        if (!selectedWidth || !selectedLength) return;

        const x = 20;
        const y = 20;

        const svgW = 400;
        const svgH = 500;

        // ===== AUTO SCALE (LØSNING 2) =====
        const scaleX = selectedWidth / (svgW * 0.8);
        const scaleY = selectedLength / (svgH * 0.8);
        const scale = Math.max(scaleX, scaleY);

        const w = selectedWidth / scale;
        const h = selectedLength / scale;

        // ===== OUTER FRAME =====
        frame.setAttribute("x", x);
        frame.setAttribute("y", y);
        frame.setAttribute("width", w);
        frame.setAttribute("height", h);

        // ===== LABELS =====
        widthLabel.textContent = selectedWidth + " cm";
        heightLabel.textContent = selectedLength + " cm";

        widthLabel.setAttribute("x", x + w / 2);
        widthLabel.setAttribute("y", y - 5);

        heightLabel.setAttribute("x", x - 15);
        heightLabel.setAttribute("y", y + h / 2);

        // ===== INNER FRAME =====
        const innerFrame = document.getElementById("innerFrame");

        const innerW = (selectedWidth - 70) / scale;
        const innerH = h;

        const innerX = x + (70 / (2 * scale));
        const innerY = y;

        innerFrame.setAttribute("x", innerX);
        innerFrame.setAttribute("y", innerY);
        innerFrame.setAttribute("width", innerW);
        innerFrame.setAttribute("height", innerH);

        // ===== CAR (stadig fast fysisk størrelse) =====
        const car = document.getElementById("car");

        const carWidthCm = 180;
        const carHeightCm = 430;

        car.setAttribute("width", carWidthCm / scale);
        car.setAttribute("height", carHeightCm / scale);
    }

    amountOfCars.addEventListener("change", updateOptions);

    widthSelect.addEventListener("change", updateCarport);
    lengthSelect.addEventListener("change", updateCarport);

    //CAR MOVEMENT

    const car = document.getElementById("car");
    const svg = document.querySelector("svg");

    let isDragging = false;
    let offsetX = 0;
    let offsetY = 0;

    car.addEventListener("mousedown", startDrag);
    svg.addEventListener("mousemove", drag);
    svg.addEventListener("mouseup", stopDrag);
    svg.addEventListener("mouseleave", stopDrag);

    function startDrag(e) {
        isDragging = true;

        const pt = getMousePosition(e);

        offsetX = pt.x - parseFloat(car.getAttribute("x"));
        offsetY = pt.y - parseFloat(car.getAttribute("y"));
    }

    function drag(e) {
        if (!isDragging) return;

        const pt = getMousePosition(e);

        const newX = pt.x - offsetX;
        const newY = pt.y - offsetY;

        car.setAttribute("x", newX);
        car.setAttribute("y", newY);
    }

    function stopDrag() {
        isDragging = false;
    }

    function getMousePosition(evt) {
        const CTM = svg.getScreenCTM();
        return {
            x: (evt.clientX - CTM.e) / CTM.a,
            y: (evt.clientY - CTM.f) / CTM.d
        };
    }

</script>

</body>

<footer>
    <div th:replace="~{templates/footer.html :: footer}"></div>
</footer>

</html>