<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/footer.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="footer">

    <div class="footerSection">
        <h3>Kundeservice</h3>

        <a href="#">Kontakt Fog</a>
        <a href="#">Ofte stillede spørgsmål</a>
        <a href="#">Købs- og leveringsvilkår online</a>
        <a href="#">Fortrydelse og returneringl</a>
        <a href="#">Reklamation og klage</a>
        <a href="#">Fragt</a>
        <a href="#">Prismatch</a>
        <a href="#">Lån en trailer</a>
        <a href="#">Udlejning</a>
        <a href="#">Bliv kontokunde</a>
    </div>

    <div class="footerSection">
        <h3>Aktuelt</h3>

        <a href="#">Mærker</a>
        <a href="#">Aviser og kataloger</a>
        <a href="#">Tilmeld nyhedsbrev</a>
        <a href="#">Inspiration & guides</a>
        <a href="#">LinkedIn</a>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
    </div>

    <div class="footerSection">
        <h3>Om Fog</h3>

        <a href="#">Åbningstider</a>
        <a href="#">Om Fog</a>
        <a href="#">Fogs Fond</a>
        <a href="#">Karriere i Fog</a>
        <a href="#">Bliv kontokunde i Fog</a>
        <a href="#">Konto salgs- og leveringsbetingelser</a>
        <a href="#">Persondatapolitik</a>
        <a href="#">Cookies</a>
    </div>

    <div class="footerSection">
        <h3>Om Fog</h3>

        <a href="#">Med omtanke</a>
        <a href="#">CSR-rapporter</a>
        <a href="#">Certificering</a>
        <a href="#">Whistleblowerordning</a>
        <a href="#">Whistleblowerpolitik</a>
    </div>
    <div class="footerSection">
        <img class=icon th:src="@{/images/FOG_logo.png}">

        <h4 href="#">Johannes Fog A/S</h4>
        <p href="#">Firskovvej 20</p>
        <p href="#">2800 Lyngby</p>
        <p href="#">CVR-nr. 16314439</p>
    </div>

</footer>
</body>
</html>