<nav th:fragment="header" class="site-header">

    <img class="site-header-logo"
         th:src="@{/images/FOG_logo.png}">

    <span class="site-header-text">Bolig & design</span>
    <span class="site-header-text">Byggematerialer</span>
    <span class="site-header-text">El & belysning</span>
    <span class="site-header-text">Have & fritid</span>
    <span class="site-header-text">Værktøj</span>
    <span class="site-header-text">Mærker</span>
    <span class="site-header-text">Tilbud</span>
    <span class="site-header-text">Fog Pro</span>
    <span class="site-header-text">Byg Carport</span>

    <div class="site-header-search">

        <img class="site-header-search-icon"
             th:src="@{/images/FOG_Search_Logo.png}">

        <input type="text" placeholder="Søgning">

    </div>

    <img class="site-header-profile-icon"
         th:src="@{/images/Profile.png}">

    <img class="site-header-location-icon"
         th:src="@{/images/Location_icon.png}">

    <img class="site-header-cart-icon"
         th:src="@{/images/Shopping_cart.png}">

</nav>