<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/header.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="header">
    <img class="icon" src="/public/images/FOG%20logo.jpg">

    <span class="headerText">Bolig & design</span>
    <span class="headerText">Byggematerialer</span>
    <span class="headerText">El & belysning</span>
    <span class="headerText">Have & fritid</span>
    <span class="headerText">Værktøj</span>
    <span class="headerText">Mærker</span>
    <span class="headerText">Tilbud</span>
    <span class="headerText">Fog Pro</span>
    <span class="headerText">Byg Carport</span>
    <div class="searchBar">
        <img class="searchIcon" src="/public/images/FOG_Search_Logo.png">
        <input type="text" placeholder=" Søgning">

    </div>

        <img class="profileIcon" src="/public/images/Profile.jpg">
        <img class="locationIcon" src="/public/images/Location%20icon.png">
        <img class="cartIcon" src="/public/images/Shopping_cart.png">

</nav>

</body>
</html>