<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="topMenu">
    <img class="icon" src="/public/images/FOG%20logo.jpg">

    <span class="topMenuText">Bolig & design</span>
    <span class="topMenuText">Byggematerialer</span>
    <span class="topMenuText">El & belysning</span>
    <span class="topMenuText">Have & fritid</span>
    <span class="topMenuText">Værktøj</span>
    <span class="topMenuText">Mærker</span>
    <span class="topMenuText">Tilbud</span>
    <span class="topMenuText">Fog Pro</span>
    <span class="topMenuText">Byg Carport</span>
    <div class="searchBar">
        <img class="searchIcon" src="/public/images/FOG_Search_Logo.png">
        <input type="text" placeholder=" Søgning">

    </div>

        <img class="profileIcon" src="/public/images/Profile.jpg">
        <img class="locationIcon" src="/public/images/Location%20icon.png">
        <img class="cartIcon" src="/public/images/Shopping_cart.png">

</nav>

</body>
</html>